.git
.gitignore
.idea
.vscode
node_modules
dist
coverage
coverage.out
.gradle
build
out
bin
services/*/node_modules
services/*/dist
services/*/coverage
services/user-service/build
services/user-service/bin
services/user-service/.gradle
