MODULARIS_SERVICE_NAME=payment-service
PORT=8080
MODULARIS_RABBITMQ_URL=amqp://user:user@rabbitmq:5672/
MODULARIS_COMMAND_EXCHANGE=modularis.commands
MODULARIS_EVENT_EXCHANGE=modularis.events
MODULARIS_RESPONSE_EXCHANGE=modularis.responses
MODULARIS_MONGO_URI=mongodb://mongo:27017
MODULARIS_MONGO_DATABASE=modularis_payments
MODULARIS_ALLOWED_CURRENCIES=BRL,USD
